<h4 class="text-center">Login</h4>

<form class="form mt-4" [formGroup]="loginForm" (submit)="login()">
  <div class="form-group">
    <input
      #userNameInput
      class="form-control"
      placeholder="user name"
      autofocus
      formControlName="userName"
    />
    <ap-vmessage 
      text="Username is required"
      *ngIf="loginForm.get('userName').errors?.required"  
    >
  </ap-vmessage>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="password"
      formControlName="password"
    />

    <!-- ? é o operador utilizado casso errors retorne null para evitar problemas no required-->
    <ap-vmessage 
      text="Password is required"
      *ngIf="loginForm.get('password').errors?.required"  
    ></ap-vmessage>
  </div>

  <!-- Se existir pelo menos um input que falhou, o invalid retorna true -->
  <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
    login
  </button>
</form>

<p>Not a user?<a>Register now</a></p>
